* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game {
    height: 100vh;
    border-bottom: 30px solid rgb(11, 103, 4);
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}
.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
}
.jump{
    animation: mario-animation 600ms ease-out;
}
.clouds{
    position: absolute;
    width: 400px;
    margin-top: 130px;
    animation: clouds-animation 6s infinite linear;
}
.score{
    position: absolute; 
    right: 50px;
    padding: 80px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 50px;

}
@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
@keyframes mario-animation{
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}
@keyframes clouds-animation {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}